body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;

}
@font-face {
    font-family: poppins;
    src: url(imagesandfonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: nutino;
    src: url(imagesandfonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: jmh;
    src: url('imagesandfonts/JMH\ Typewriter.ttf');
}
html{
    scroll-behavior: smooth;
}
.social-media-platforms {
    right: 2%;
    display: flex;
    position: absolute;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

} 
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
   
} 



.menu-up {
    position: relative;
    display: inline-block;
}

.menu-content {
    position: absolute;
    top: -1500%;
    width: 900%;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
}

.menu-up:hover .menu-content {
    display: block;
}

.opening-hours{
    position: relative;
    display: inline-block;
}
.opening-hours-detail{
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 10;
    background-color: white;
    width: 1000%;
    top: -1900%;
    margin-left: -100%;
    color: black;

}
.opening-hours:hover .opening-hours-detail  {
    display: block;
    color: black;
}


#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;
}
#reservations-button:hover{
    background-color: white;
    color: black;
}

