body {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)), url(    https://media-cdn.tripadvisor.com/media/photo-m/1280/1d/78/ea/6d/ankolegrill.jpg
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
}
.contact-infotmation{

    text-align: center;
    h2 {
        font-size: xx-large;
       }
       
       a {
        font-family: nutino;
           font-size: large;
           font-weight: bold;
           text-decoration: none;
           color: white;
           flex-direction: column;
           width: 10vh;
       
       }
       a:hover{
           color: orange
       }
}

#ankole-logo {
    opacity: 8;
    padding-top: 5%;
    margin: 0 auto;
    width: 10%;
}

.contact-info {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 2%;
    text-align: left;
}

.kitisuru-contact {
    color: white;
    border: 2px white solid;
    padding: 1% 2%;


}




nav {
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium;

    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    i {
        color: gray;
    }
    a:hover{
        color: gray;
    }
}

#reservations-button{
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}
.social-media-platforms {
    right: 2%;
    display: flex;
    position: absolute;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

}
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
   
}


#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
}
@media (width: 280px){
    .social-media-platforms {
        position: absolute;
        left: 80vw;
        top: 5vh;
        align-items: center;
        flex-direction: column;
        font-size: 30px;
    }
    #whatsup{
        position: absolute;
    }
    body{
        padding-bottom: 10%;

        height: 200vh;
        max-width: 90vw;
    }
    .hide{
        display: none;
    }
    #ankole-logo{
        width: 40%;
       
    }
    nav{
        position: absolute;
        top: 90vh;
        padding: 1.5%;
        height: 40px;
        width: 50%;
        position: fixed;
    }
    .contact-info{
        flex-direction: column;
       padding-top: 5%;
       width: 85%;
    }

}
@media (width: 375px){
    body{
        overflow-y: scroll;
        height: 120vh;
    }
    #ankole-logo{
        width: 40%;
       
    }
    .contact-info{
        flex-direction: column;
       padding-top: 5%;
       width: 80%;
       margin-left: 10%;
    }
    .kitisuru-contact{

        margin-bottom: 7%;
    }
    .hide{
        display: none;
    }
    nav{
        position: absolute;
        position: fixed;
        top: 90vh;
        padding: 1%;
        height: 60px;
        width: 50%;
    }
    #whatsup{
        position: absolute;
        left: 80vw;
    }
    .social-media-platforms {
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 30px;
    }
    .socials{
font-size: x-large;    
}
#reservations-button:hover{
    background-color: white;
    color: black;
    
}
    
}
@media (min-width: 376px) and (max-width: 430px){
    body{
        overflow-x: hidden;
        width: 80%;
    }
    #ankole-logo{
        width: 40%;
       
    }
    .contact-info{
        flex-direction: column;
       padding-top: 5%;
    }
    .kitisuru-contact{

        margin-bottom: 7%;
    }
    .hide{
        display: none;
    }
    nav{
        position: absolute;
        top: 90vh;
        padding: 1%;
        height: 60px;
        width: 50%;
    }
    #whatsup{
        position: absolute;
        left: 80vw;
    }
    .social-media-platforms {
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 30px;
    }
    .socials{
font-size: x-large;    
}
#reservations-button:hover{
    background-color: white;
    color: black;
}
    

}
@media (max-width: 539px) and (min-width: 431){
    #ankole-logo{
        width: 35%;
       padding-bottom: 5%;
    }
    .kitisuru-contact{
        width: 40%;
    }
    nav{
        width: 0vw;
    }
    .social-media-platforms {
        align-items: center;
        flex-direction: column;
        align-items: center;
    
    }
}
@media(width: 540px){
    #ankole-logo{
        width: 50%;
       padding-bottom: 5%;
    }
    body{
        overflow-y: hidden;
        height: 100vh;
        width: 40vw;
    }
    nav{
        position: absolute;
        top: 80vh;
        padding: 1%;
        height: 60px;
        width: 70%;
        font-size: small;
    }
    #whatsup{
        position: absolute;
        left: 10vh;
    }
    .contact-infotmation{
        h2{
            font-size: large;
        }
        a{
            font-size: small;
        }
    }
    .social-media-platforms{
        flex-direction: column;
        left: 60vh;
    }

}
@media (max-width: 1024px) and (min-width: 541px){
    body{
        overflow-y: hidden;
        height: 70vh;
    }

    #ankole-logo{
        width: 35%;
       padding-bottom: 5%;
    }
    
    nav{
        height: 35px;
        top: 60vh;
        position: absolute;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 70vw;

    }
    .social-media-platforms {
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50vh;
    }
    .contact-info{
       padding-top: 5%;
       width: 90%;
    }
    #whatsup{
        position: absolute;

    }
    
}
@media (width:1280px)
{
    body{
        height: 50vh;
    }
}
