body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: -0;
    margin-left: -0;
    bottom: -0;
}

#ankole-logo {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 22vb;
}

.event-places {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;

}

.place {
    color: white;
    padding-top: 27vh;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.acra {
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)), url(imagesandfonts/accra.jpg);
    width: 34vw;
}


.zanzibar {
    width: 34vw;
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)), url(imagesandfonts/zanzibar.jpg);}
.addis{
    width: 34vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe5863a791395eba11_Addis.jpg);}


#pavilon {
    font-family: nutino;
    margin-top: 15%;
    line-height: 0;
    color: rgb(172, 166, 166);
}
h1{
    line-height: 1;
    font-size: xxx-large;
}
#pax{
    font-family: nutino;
    color: rgb(231, 206, 137);
}
nav {
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium; 
    a:hover{
        color: gray;
    }
    
    i {
        color: gray;
    }
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    }
.more-info{
    font-family: nutino;
}
