body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-top: -0;
    margin-left: -0;
    bottom: -0;
}

#ankole-logo {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    position: fixed;
    width: 22vb;
}

.event-places {
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;

}

.place {
    color: white;
    padding-top: 27vh;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.acra {
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)), url(imagesandfonts/accra.jpg);
    width: 34vw;
}


.zanzibar {
    width: 34vw;
    background-image: linear-gradient(rgba(34, 33, 33, 0.5), rgba(88, 82, 82, 0.5)), url(imagesandfonts/zanzibar.jpg);}
.addis{
    width: 34vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65d4a8fe5863a791395eba11_Addis.jpg);}


#pavilon {
    font-family: nutino;
    margin-top: 15%;
    line-height: 0;
    color: rgb(172, 166, 166);
}
.social-media-platforms {
    right: 2%;
    display: flex;
    position: absolute;
    position: fixed;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

} 
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
   
}
#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
} 

h1{
    line-height: 1;
    font-size: xxx-large;
}
#pax{
    font-family: nutino;
    color: rgb(231, 206, 137);
}
nav {
    font-family: nutino;
    z-index: 7;
    position: absolute;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium; 
    a:hover{
        color: gray;
    }
    
    i {
        color: gray;
    }
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    }
.more-info{
    font-family: nutino;
}
@media (max-width: 430px){
    nav{
        width:50vw;
        padding: 3%;

    }
    body{
overflow: scroll;    }
    
 .event-places{
    flex-direction: column;
    padding-bottom: 50%;

 } 
 .place{
    width: 100vw;
 }.social-media-platforms{
    width: 7vh;
    align-items: center;
    flex-direction: column;
 }
 .hide{
    display: none;
 }
 #socials{
    margin-bottom: 1vh;
}
 
}

@media (width: 540px) {
    #ankole-logo{
        top: 20%;
    }
    body{
overflow: scroll;    }
    
 .event-places{
    flex-direction: column;
 } 
 .place{
    width: 100vw;
    padding-top: 30vh;
    padding-bottom: 50%;
 }.social-media-platforms{
    flex-direction: column;
    align-items: center;
 }
nav{
    width: 85vw;
    a{
        font-size: x-small;
    }
}
}
@media (min-width: 431px) and (max-width: 539px) {
    #ankole-logo{
        top: 20%;
    }
    body{
overflow: scroll;    }
    
 .event-places{
    flex-direction: column;
 } 
 .place{
    width: 100vw;
    padding-top: 30vh;
    padding-bottom: 50%;
 }.social-media-platforms{
    flex-direction: column;
    align-items: center;
 }
nav{
    width: 70vw;
}
 
}
@media (min-width: 541px) and (max-width: 912px) {
    #ankole-logo{
        top: 20%;
    }
    .social-media-platforms {

        width: 7vh;
        align-items: center;
        flex-direction: column;
    }
    #socials{
        margin-bottom: 1vh;
    }
    body{
overflow: scroll;    }
    
 .event-places{
    flex-direction: column;
 } 
 .place{
    width: 100vw;
    padding-top: 30vh;
    padding-bottom: 50%;
 }nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
 
}
@media(min-width: 1024px) and (max-width: 1400px){
    .place{
        width: 100vw;
        
        padding-bottom: 50%;

     }
     nav{
        height: 60px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;

    }
    h1{
        font-size: 200%;
    }
    .social-media-platforms {
        align-items: center;
        position: absolute;
        left: 94vw;
        flex-direction: column;
        font-size: 50px;
        width: 7vh;
    }
   
    #socials{
        margin-bottom: 1vh;
    }
     
}