body{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    width: 100vh;
    margin-top: -0;
    margin-left: -0;
    bottom: -0;
}
#ankole-logo {
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 22vb;
}
.event-places{
    display: flex;

}
.place{
    width: 
}