body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    margin-top: -0;
    margin-left: -0;
    bottom: -0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

.kitisuru {
    display: flex;
    font-family: nutino;
}

.kitisuru-menu {

    width: 50vw;
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg);
}

#ankole-logo {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 20vb;
}

nav {
    
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium; 
    a:hover{
        color: gray;
    }
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    i {
        color: gray;
    }
}

#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}

.kitisuru-menu-list {
    overflow-x: hidden;
    background-color: black;
    width: 50%;
    overflow-y: scroll;
    height: 100vh;
}

.kitisuru-menu-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 0;
    text-align: center;
    h3 {
        font-weight: lighter;
        font-size: x-large;
        color: white;
    }
    

    h2 {
        font-weight: lighter;

        font-size: 400%;
        color: rgb(255, 60, 0);
    }
   
}

.food-options{
    width: 50vw;
    text-align: center;
    padding-top: 1%;
    position: fixed;
    background-color: black;
    justify-content: space-between;
    
    a {
        justify-content: space-between;
        margin-right: 5%;
        gap: 20%;
        text-decoration: none;
        color: white;
        font-size: large;
        z-index: 1;
        text-align: center;        
    }
    a:hover{
        color: rgb(245, 187, 101);
    }
}

h2{
    font-size: xx-large;
}
p{
    line-height: 0.5;
}
h3{
    color: rgb(255, 72, 0);

    font-size: x-large;
}
.breakfast{
    padding: 0 8%;
    color: white;

    margin-top: 25%;
}
.food{
    padding: 8%;
    color: white;

    line-height: 1;
}
.menu-item{
    line-height: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item-detail{
    display: flex;
    align-items: center;
    gap:2%;
    width:90%;
  
}
.menu-item-description{
    align-items: center;
    p{
        margin-top: -3%;
        line-height: 1.5;
        width: 90%;
    }
}
.price{
    width: 11%;
}
#ankole-logo1{
    width: 12%;
}
.drinks{
    color: white;
    padding: 0 8%;

}
@media (max-width: 375px){
    body{
        margin: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100vw;

    } 
    .menu{
        flex-direction: column;
     }
     .hide{
        display: none;
    }
}