body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    margin-top: -0;
    margin-left: -0;
    bottom: -0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

.kitisuru {
    display: flex;
    font-family: nutino;
}

.kitisuru-menu {

    width: 50vw;
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg);
}

#ankole-logo {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 20vb;
}

nav {   
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium; 
    a:hover{
        color: gray;
    }
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    i {
        color: gray;
    }
}

#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}
#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
}
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
   
} 
.social-media-platforms {
    right: 2%;
    display: flex;
    position: absolute;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

} 
.kitisuru-menu-list {
    overflow-x: hidden;
    background-color: black;
    width: 50%;
    overflow-y: scroll;
    height: 100vh;
}

.kitisuru-menu-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 0;
    text-align: center;
    h3 {
        font-weight: lighter;
        font-size: x-large;
        color: white;
    }
    

    h2 {
        font-weight: lighter;

        font-size: 400%;
        color: rgb(255, 60, 0);
    }
   
}

.food-options{
    width: 50vw;
    text-align: center;
    padding-top: 1%;
    position: fixed;
    background-color: black;
    justify-content: space-between;
    
    a {
        justify-content: space-between;
        margin-right: 5%;
        gap: 20%;
        text-decoration: none;
        color: white;
        font-size: large;
        z-index: 1;
        text-align: center;        
    }
    a:hover{
        color: rgb(245, 187, 101);
    }
}

h2{
    font-size: xx-large;
}
p{
    line-height: 0.5;
}
h3{
    color: rgb(255, 72, 0);

    font-size: x-large;
}
.breakfast{
    padding: 0 8%;
    color: white;

    margin-top: 25%;
}
.food{
    padding: 8%;
    color: white;

    line-height: 1;
}
.menu-item{
    line-height: 0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item-detail{
    display: flex;
    align-items: center;
    gap:2%;
    width:90%;
  
}
.menu-item-description{
    align-items: center;
    p{
        margin-top: -3%;
        line-height: 1.5;
        width: 90%;
    }
}
.price{
    width: 11%;
}
#ankole-logo1{
    width: 12%;
}
.drinks{
    color: white;
    padding: 0 8%;

}
@media (max-width: 375px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100vw;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 56vh;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    margin-top: -1%;
    width: 56vh;
}
     .hide{
        display: none;
    }
    .kitisuru-menu-list {
        width: 56vh;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    width:60vw;
    background-color: rgb(12, 12, 12);
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }
    .h-coffee{
        font-size: sm;
    }

}

@media (min-width: 376px) and (max-width: 414px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 29%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    nav {
        padding: 5%;
        width:50vw;
        left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(14, 13, 13);

    }
.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 100vw;
    height: 40px;
    margin-top: -10%;
}
     .hide{
        display: none;
    }
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
   
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }

}

@media (width: 430px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 100vw;
    height: 40px;
    margin-top: -10%;
}
     .hide{
        display: none;
    }
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(11, 11, 11);
    padding: 3%;
    width:50vw;
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }

}
@media (width: 540px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 100vw;
    height: 40px;
    margin-top: -10%;
}
     .hide{
        display: none;
    }
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    background-color: rgb(17, 15, 15);
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }
}


@media (min-width: 541px) and (max-width: 768px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 100vw;
    height: 40px;
    margin-top: -1%;
}
     
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    background-color: rgb(10, 9, 9);
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }

}


@media (min-width: 769px) and (max-width: 820px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 89vw;
    height: 40px;
    margin-top: -1%;
}
     
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    background-color: rgb(10, 9, 9);
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }
    #whatsapp{
        position: fixed;
        top: 50vh;
        right: 70vh;
    }

}


@media (width: 912px){
    body{
        margin: 0;
        overflow-x: hidden;
        width: 100w;

    } 
    .kitisuru {
        overflow-y: scroll; 
        flex-direction: column;
    }
    .kitisuru-menu {
        width: 100vw;
        height: 40vh;
        overflow-y: scroll; 

    }
    #ankole-logo {
        width: 20%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.kitisuru-menu-text {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.food-options{
    width: 89vw;
    height: 40px;
    margin-top: -1%;
}
     
    .kitisuru-menu-list {
        width: 100vw;
        height: 60vh;
    }
    nav{
        left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    background-color: rgb(10, 9, 9);
    }
    p{
        font-size: small;
        align-items: baseline;
        line-height: 1;
    }
    #ankole-logo1{
        width: 20%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    h3{
        font-size: large;
    }
    #whatsapp{
        position: fixed;
        top: 50vh;
        right: 70vh;
    }

}
@media (width: 853px){
    .food-options{
        width: 48vw;
        height: 40px;
        margin-top: -1%;
    }
    p{
        line-height: 1;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    nav{
        left: 50vw;
        width: 80vw;
    }
}
@media (width: 1280px){
    .food-options{
        width: 48vw;
        height: 40px;
        margin-top: -1%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    nav{
        left: 50vw;
        width: 80vw;
    }
}
@media (width: 1024px){
    .food-options{
        width: 48vw;
        height: 40px;
        margin-top: -1%;
    }
    h4{
        font-size: small;
        line-height: 1;
    }
    nav{
        left: 50vw;
        width: 80vw;
    }
}

