body{
    margin: 0%;
    width: 100vw;
    height: 100vh;
    margin: 0;


}

.koko{
    filter: brightness(0.2);
}
.social-media-platforms {
    right: 2%;
    top: 5%;
    display: flex;
    position: absolute;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
}
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
}


#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
}
nav {
    z-index: 7;
    position: absolute;
    font-family: nutino;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: large;
    position: fixed;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
    a:hover{
        color: gray;
    }
    
    i {
        color: gray;
    }
}

.menu-up {
    position: relative;
    display: inline-block;
}

.menu-content {
    position: absolute;
    top: -1500%;
    width: 900%;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
}

.menu-up:hover .menu-content {
    display: block;
}

.opening-hours{
    position: relative;
    display: inline-block;
}
.opening-hours-detail{
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 10;
    background-color: white;
    width: 1000%;
    top: -1900%;
    margin-left: -100%;
}
.opening-hours:hover .opening-hours-detail  {
    display: block;
}


#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}
#reservations-button:hover{
    background-color: white;
    color: black;
}

/* #image-o{

position: absolute;
overflow: visible;
background: rgb(0, 0, 0);
margin-top: -1%;
background: rgba(0, 0, 0, 0.5);
width: 99vw;
height: 102vh;

} */
img{
    width: 100vw;
    height: 200vh;
}
h1{
    font-family: nutino;
    z-index: 2;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    color: rgb(255, 255, 255);
    opacity: whi;
    
}
@media  (max-width:430px){
    body{
        background-color: black;
    }
    img{
        height: 50vh;
    
    }
    h1{
        width: 80%;
        top: 70%;
        font-size: xx-large;
    }
    .hide{
        display: none;
    }
    nav{
        background-color: rgb(22, 21, 21);
        padding-right: 15%;
        gap: 15%;
    }
}

@media (min-width: 431px) and (max-width: 912px){
    body {
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: black;


    }
    img{
        height: 70vh;
    
    }
    h1{
        width: 80%;
        top: 80%;
        font-size: xx-large;
    }
    nav{
        width: 65vh;
        background-color: rgb(25, 24, 24);
        
    }
}
@media(width: 540px){
    .hide{
        display: none;
    }
    nav{
        width: 30vh;
    }
    h1{
        top: 60%;
    }
    #whatsapp{

        font-size: 200%
    }
}
@media (min-width: 913px) and (max-width: 1023px){
body{
    background-color: black;
}
img{
    height: 75vh;
}
nav{
    width: 65vh;
    background-color: rgb(24, 23, 23);
    
}
#whatsapp{
    font-size: 200%;
}
}
