body{
    width: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.reservation{
    display: flex;

}

.reservation-location{
    width: 50vw;
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c4760165c03d467b650bcb_1.jpg);
}
#ankole-logo {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 22vb;
}
nav {
    z-index: 1;
    position: absolute;
    bottom: 3%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 1% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;

    }

    i {
        color: white;
    }
}

#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}
.reservation-location-text{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 0;
    text-align: center;
    h3 {
        font-weight: lighter;

        font-size: x-large;
        color: white;
    }

    h2 {
        font-weight: lighter;

        font-size: 400%;
        color: rgb(255, 123, 0);
    }
}

.reservation-form{
    background-color: black;
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;

}
form{
    margin:13% 8%;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 2px 1px rgb(43, 43, 43);
    border: 1px solid rgb(44, 42, 42);
    padding: 4% 2% 5%;
}
label{
    color: white;
   
    
}
input{
    margin-top: 1%;
    margin-bottom: 2%;
    height: 40px;
    width: 95%;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    placeholder{
        color: gray;
    }
   
}

button{
    font-size: large;
    width: 95%;
    padding: 2.5%;
    background-color: antiquewhite;
    border: 1px transparent solid;
    border-radius: 0.5rem;
cursor: pointer;
}
#inputClickable:focus{
outline: 1px solid orange;}
button:hover{
 background-color: rgb(201, 128, 44);
 color: white;

}
