body {
    width: 100%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.reservation {
    display: flex;

}

.reservation-location {
    width: 50vw;
    height: 100vh;
    background-image: linear-gradient(rgba(41, 39, 39, 0.5), rgba(88, 82, 82, 0.5)), url(    https://img.freepik.com/premium-photo/jungle-leaves-flowers-tropical-background_753134-463.jpg);
    background-size: cover;
    

}

#ankole-logo {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    width: 22vb;
}

nav {
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: large;

    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    i {
        color: gray;
    }
    a:hover{
        color: gray;
    }
}

#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}

.reservation-location-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    line-height: 0;
    text-align: center;

    h3 {
        font-weight: lighter;

        font-size: x-large;
        color: white;
    }

    h2 {
        font-weight: lighter;

        font-size: 400%;
        color: rgb(255, 85, 0);
    }
}

.reservation-form {
    background-color: black;
    height: 100vh;
    width: 50vw;
    overflow-y: scroll;

}

form {
    margin: 13% 8%;
    border-radius: 0.5rem;
    box-shadow: 2px 1px 2px 1px rgb(0, 0, 0);
    border: 1px solid rgb(44, 42, 42);
    padding: 2% 1% 5%;
}

label {
    color: white;
}

input {
    color-scheme: dark;
    margin-top: 1%;
    margin-bottom: 2%;
    height: 50px;
    width: 98%;
    background-color: transparent;
    border: 1px solid gray;
    color: white;

    placeholder {
        color: gray;
    }

}

button {
    font-size: large;
    width: 98%;
    padding: 2.5%;
    background-color: rgb(250, 221, 184);
    border: 1px transparent solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

#inputClickable:focus {
    outline: 1px solid orange;
}

button:hover {
    background-color: rgb(198, 145, 47);
    color: white;

}

#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
}
@media (max-width:375px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;

    }

    .reservation {
        flex-direction: column;

    }
   
    .reservation-location {

        height: 40vh;
        width: 110vw;
        overflow-y: scroll;

    }

    #ankole-logo {
        top: 15%;
        left: 50%;
        width: 20%;
    }

    .reservation-location-text {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 30%;
        
    }

    .reservation-form {
        padding-left: 10%;
        width: 100vw;
        overflow-x: hidden;
       
    }

    form {
        margin: auto;
        position: relative;
        padding: 5% 1% 1% 10%;
        width: 46vh;
        overflow-x: hidden;
        padding: 15% 0 25%;


    }

    input {
        width: 35vh;
    }

    button {
        width: 35vh;
    }

    .hide {
        display: none;
    }

    nav{
        height: 45px;
        top: 90vh;
        position: absolute;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        background-color: rgb(17, 16, 16);

    }
   
    h2{
        font-size: 1px;
    }
   
}
@media (min-width:376px) and (max-width:430px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;

    }

    .reservation {
        flex-direction: column;

    }

    .reservation-location {
        height: 50vh;
        width: 100vw;

    }

    #ankole-logo {
        top: 15%;
        left: 50%;
        width: 30%;
    }

    .reservation-location-text {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 40%;
    }

    .reservation-form {
        width: 100vw;
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15% 0 25%;

    }

    form {
        border: transparent;
        margin: 0 10;
        position: relative;
        padding: 5% 1% 1% 1%;
        width: 46vh;
        overflow-x: hidden;
    }

    input {
        width: 35vh;
    }

    button {
        width: 35vh;
    }

    .hide {
        display: none;
    }
    nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        background-color: rgb(17, 16, 16);

    }
    
}

@media (min-width: 431px) and (max-width: 852px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;

    }

    .reservation {
        flex-direction: column;

    }

    .reservation-location {
        height: 70vw;
        width: 100vw;

    }

    #ankole-logo {
        top: 15%;
        left: 50%;
    }

    .reservation-location-text {
        left: 50%;
        top: 40%;
    }

    .reservation-form {
        padding: 15% 0 15%;
        width: 75vh;
        overflow-x: hidden;
    }

    form {
        margin: auto;
        position: relative;
        padding: 5% 1% 1% 1%;
        width: 46vh;
        overflow-x: hidden;
        overflow-y: scroll;

    }

    input {
        width: 45vh;
    }

    button {
        width: 45vh;
    }
.hide{
display: none;
}
   

    nav{
        height: 45px;
        top: 80vh;
        position: absolute;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        background-color: rgb(17, 16, 16);

    }
   
}
@media (width: 853px)
{

    body {
        overflow-x: hidden;
        overflow-y: scroll;

    }

    .reservation {
        flex-direction: column;

    }

    .reservation-location {
        height: 70vw;
        width: 100vw;

    }

    #ankole-logo {
        top: 15%;
        left: 50%;
    }

    .reservation-location-text {
        left: 50%;
        top: 40%;
    }

    .reservation-form {
        padding: 15% 0 15%;
        width: 75vh;
        overflow-x: hidden;
    }

    form {
        margin: auto;
        position: relative;
        padding: 5% 1% 1% 1%;
        width: 46vh;
        overflow-x: hidden;
        overflow-y: scroll;

    }

    input {
        width: 45vh;
    }

    button {
        width: 45vh;
    }
 

    nav{
        height: 45px;
        top: 90vh;
        position: absolute;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        background-color: rgb(17, 16, 16);

    }
   
}
@media (min-width: 854px) and (max-width: 1000px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100vw;
    }

    .reservation {
        width: 90vw;
        height: 100vh;
    }

    .reservation-location {
        height: 100vh;
        width: 45vw;
        overflow: hidden;

    }

    #ankole-logo {
        top: 15%;
        left: 25%;
    }

    .reservation-location-text {
        left: 25%;
        top: 40%;

    }

    .reservation-form {
        padding-top: 5%;
        width: 40vw;
        height: 100vh;
        
    }

    form {
        margin: auto;
        position: relative;
        padding: 5% 1% 1% 1%;
        width: 46vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    input {

        width: 35vh;
    }

    button {
        width: 35vh;
    }

    nav {
     
        position: absolute;
        left: 25%;
        padding: 1% o;
    }
}
@media (min-width: 1000px) and (max-width: 1024px){
    nav{
        left: 50%;
        width: 70vw;
    }
}