body {
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

@font-face {
    font-family: jmh;
    src: url(imagesandfonts/JMH\ Typewriter.ttf);
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#ankole-logo {
    width: 10%;
    padding-top: 5%;


}

.tag-lines {
    position: relative;
    animation-fill-mode: forwards;
}

.background {
    position: absolute;
    background-size: cover;
    text-align: center;
    width: 100vw;
    opacity: 1;
    height: 100vh;
    animation: slide 23s infinite;
    will-change: opacity;

}

#welcome {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5b8b549a7aac5dba0e7d3_ankole_kilimani_nightlife.jpg);
    animation-delay: 0s;
    z-index: 5;
}

#discover {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
    animation-delay: 4s;
    z-index: 4;
}

#experience {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c5f9644676e29dddf08c65_ankolegrill_t-bone-steak-2024-1.jpg);
    animation-delay: 8s;
    z-index: 3;

}

#taste {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c3b0c67153d0056443f31e_ankolegrill_escobar1.jpg);
    animation-delay: 12s;
    z-index: 2;
}

#savout {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65cb61d8c46dc657819e1cc2_ankolegrill_slider.jpg);
    animation-delay: 16s;
    z-index: 1;
}


nav {
    font-family: nutino;
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: medium;

    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    i {
        color: gray;
    }
    a:hover{
        color: gray;
    }
}


#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}

h1 {
    font-size: 900%;
    color: gray;
    font-weight: lighter;
    font-family: nutino;
    padding-top: 2%;
}


.social-media-platforms {
    right: 2%;
    display: flex;
    position: absolute;
    width: 4%;
    justify-content: space-between;
    margin-top: 3%;
    a {
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

} 
#socials {
    
    display: flex;
    color: white;
    padding: 10px;
    border: 1px solid gray;
    z-index: 10;
    background-color: transparent(245, 252, 252);
    border-radius: 50%;
    padding: 10% 12%;
    font-size: medium;
   
}


#whatsapp{
    color: rgb(245, 241, 241);
    position: absolute;
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 10;
    padding: 0.5% 0.7%;
    border-radius: 50%;
    border: 1px solid rgb(104, 102, 102);
    font-size: xx-large;
    background-color: rgb(22, 20, 20);
    a{
        text-decoration: none;
        z-index: 5;
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
}
@media (max-width: 375px){
    body{
        overflow: hidden;
    }
    #ankole-logo{
        width: 40%;
        padding-top: 30%;
       
    }
    .social-media-platforms {
        align-items: center;
        flex-direction: column;
    
    }
    h1{
        font-size: xxx-large;
    }
    nav{
        width:45vw;
    }
    .hide{
        display: none;
    }
}
@media (min-width: 376px) and  (max-width: 390px)
{
    body{
        max-width: 150vh;
        height: 100vh;
        overflow: hidden;
        
    
    }
    .social-media-platforms {
        align-items: center;
        flex-direction: column;
    
    }
    nav{
    height: 20px;
    }
    .background{
        height: 100vh;
        width: 100vw;
    }
        #ankole-logo {
            width: 50%;
    
        }
        .background{
            h1{
                font-size: xxx-large;
            }
        }
        nav {
            padding: 5%;
    
        }
        .hide{
            display: none;
        }
        
    
    }
    @media (min-width: 391px) and (max-width: 414px)
    {
        body{
            max-width: 150vh;
            height: 100vh;
            overflow: hidden;
            
        
        }
        .social-media-platforms {
            align-items: center;
            flex-direction: column;
        
        }
        .background{
            height: 100vh;
            width: 100vw;
        }
            #ankole-logo {
                padding-top: 20%;
                width: 50%;
        
            }
            .background{
                h1{
                    font-size: xxx-large;
                }
            }
            nav {
                padding: 5%;
        
            }
            .hide{
                display: none;
            }
            h1{
                padding-top: 40%;
                font-size: xx-large;
            }
            
        
        }
    
    /* @media  (min-width: 415px) and (max-width: 414px)
    {#ankole-logo{
        width: 40%;
        padding-top: 30%;
       
    }

        body{
            max-width: 150vh;
            height: 100vh;
            overflow: hidden;
            
        
        }
        .social-media-platforms {
            align-items: center;
            flex-direction: column;
        
        }
        .background{
            height: 100vh;
            width: 100vw;
        }
            #ankole-logo {
                width: 50%;
        
            }
            .background{
                h1{
                    font-size: xxx-large;
                }
            }
            nav {
                padding: 5%;
        
            }
            .hide{
                display: none;
            }
            
        
        }
     */
@media (min-width: 415px) and (max-width:430px) {
body{
    max-width: 150vh;
    height: 100vh;
    overflow: hidden;
    

}
#ankole-logo{
    width: 40%;
    padding-top: 30%;
   
}
.social-media-platforms {
    align-items: center;
    flex-direction: column;

}
.background{
    height: 100vh;
    width: 100vw;
}
    #ankole-logo {
        width: 50%;

    }
    .background{
        h1{
            font-size: xxx-large;
        }
    }
    nav {
        padding: 5%;

    }
    .hide{
        display: none;
    }
    
    h1{
        padding-top: 40%;
    }

}
@media (min-width: 431px) and (max-width: 539px)
{
    #ankole-logo{
        width: 50%;
    }
    .social-media-platforms {
        align-items: center;
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 50px;
    }
    nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
    
    
    

}
@media (width: 768px){
    #ankole-logo{
        width: 50%;
    }
    .social-media-platforms {
        align-items: center;
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 50px;
    }
    nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
}
@media (min-width: 540px) and (max-width: 819px){
   body{
    width: 540px;
    overflow: hidden;
   }
    #ankole-logo{
        width: 50%;
    }
    .social-media-platforms {
        align-items: center;
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 50px;
    }
    nav{
        height: 40px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
    h1{
        font-size: 600%;
    }
}
@media (min-width: 820px) and (max-width: 912px) {
    #ankole-logo{
        width: 50%;
    }
    .social-media-platforms {
        align-items: center;
        position: absolute;
        left: 90vw;
        flex-direction: column;
        font-size: 50px;
    }
    nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
    
}
@media (min-width: 913px) and (max-width: 1023px) {
    #ankole-logo{
        width: 50%;
    }
    nav{
        height: 65px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
   
}
@media (width: 1024px) {
    #ankole-logo{
        width: 20%;
    }
    nav{
        height: 40px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;

    }
    h1{
        font-size: 600%;
    }
   
}
@media (min-width: 1025px) and (max-width: 1280px) {
    #ankole-logo{
        width: 20%;
    }
    nav{
        height: 40px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;

    }
    h1{
        font-size: 600%;
    }
   
}
/* @media (width: 1028px) {
    #ankole-logo{
        width: 50%;
    }
    nav{
        height: 24px;
        top: 90vh;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;

    }
   
} */

