

@font-face {
    font-family: jmh;
    src: url(imagesandfonts/JMH\ Typewriter.ttf);
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    38% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#ankole-logo {
    width: 10%;
    padding-top: 5%;


}

.tag-lines {
    position: relative;
    animation-fill-mode: forwards;
}

.background {
    position: absolute;
    background-size: cover;
    text-align: center;
    width: 100vw;
    opacity: 1;
    height: 100vh;
    animation: slide 23s infinite;
    will-change: opacity;

}

#welcome {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65e5b8b549a7aac5dba0e7d3_ankole_kilimani_nightlife.jpg);
    animation-delay: 0s;
    z-index: 5;
}

#discover {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c34fee7c31fcb2f8c3700b_001-p-2000.jpg);
    animation-delay: 4s;
    z-index: 4;
}

#experience {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c5f9644676e29dddf08c65_ankolegrill_t-bone-steak-2024-1.jpg);
    animation-delay: 8s;
    z-index: 3;

}

#taste {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65c3b0c67153d0056443f31e_ankolegrill_escobar1.jpg);
    animation-delay: 12s;
    z-index: 2;
}

#savout {
    background-image: url(https://cdn.prod.website-files.com/65aa1f78e2380ad0548de50d/65cb61d8c46dc657819e1cc2_ankolegrill_slider.jpg);
    animation-delay: 16s;
    z-index: 1;
}


nav {
    position: fixed;
    z-index: 7;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    display: flex;
    padding: 0.8% 1.5%;
    border-radius: 3rem;
    border: 1px solid transparent;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: large;

    a {
        color: white;
        text-decoration: none;
        cursor: pointer;

    }
    
    i {
        color: gray;
    }
}

#reservations-button {
    padding: 2% 2%;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: gray;
    color: white;

}

h1 {
    font-size: 900%;
    color: gray;
    font-weight: lighter;
    font-family: jmh, sans-serif;
    padding-top: 2%;
}

.menu-up {
    position: relative;
    display: inline-block;
}

.menu-content {
    position: absolute;
    top: -1500%;
    width: 900%;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 20;
    background-color: black;
    margin-left: -100%;
}

.menu-up:hover .menu-content {
    display: block;
}
.social-media-platforms{
    margin-top: 3%;
}
.opening-hours{
    position: relative;
    display: inline-block;
}
.opening-hours-detail{
    position: absolute;
    padding: 100% 150%;
    border-radius: 1rem;
    display: none;
    z-index: 10;
    background-color: white;
    width: 1000%;
    top: -1900%;
    margin-left: -100%;
}
.opening-hours:hover .opening-hours-detail  {
    display: block;
}

#whatsapp{
    z-index: 10;

}

@media (max-width: 500px) and (min-width: 0px){
    body{
        
    }
 
    .social-media-platforms{
        flex-direction: column;
        font-size: xx-large;
    }
    .ankole-logo{

    }

}